@page "/newimage"

@using ImageRatingPortal.Components

<PageTitle>Rate Image</PageTitle>

<ImageCard />

<br/>

<button type="submit" class="btn btn-secondary" style="width:100%">Your History</button>

@code {

    //public User user { get; set; }

    protected override Task OnInitializedAsync()
    {
        // Load User Details

        // Load Image Details

        return base.OnInitializedAsync();
    }
}
