@using ImageRatingPortal.Data;

@inject AppUser user

<div class="card-body">
    <h3 class="text-center">Thank you for participating</h3>
    <br/>
    <p class="text-center">You have rated all images in our system</p>
</div>

@code {

    //public User user { get; set; }

    protected override Task OnInitializedAsync()
    {
        // Check for User Details

        // Load User Details

        // Load Image Details

        return base.OnInitializedAsync();
    }

    [Parameter]
    public int ImageID { get; set; }

    public int UserImageRating { get; set; } = 1;

    public string? Source { get; set; } = "https://th.bing.com/th/id/R.ff7b64cb993cc9976cd91357d29f2816?rik=7ZYM6LtEb4yozw&riu=http%3a%2f%2fimages2.fanpop.com%2fimages%2fphotos%2f5700000%2fRandom-random-5719756-1280-800.jpg&ehk=gmpmUxNQYTurxj7oZEli7uaKPUy2Ob0Ggjqmfl2Fh%2bs%3d&risl=&pid=ImgRaw&r=0";

}
