@using ImageRatingPortal.Data;

<div class="card-body">
    <h3 class="text-center">Thank you for participating</h3>
    <br/>
    <p class="text-center">You have rated all images in our system</p>
</div>

@code {

    //public User user { get; set; }

    protected override Task OnInitializedAsync()
    {
        // Check for User Details

        // Load User Details

        // Load Image Details

        return base.OnInitializedAsync();
    }

    [Parameter]
    public int ImageID { get; set; }

    public int UserId { get; set; }

    public string? Source { get; set; }

}
