@using ImageRatingPortal.Data;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject NavigationManager navManager
@inject ProtectedLocalStorage localStorage
@inject AppUserServices userServices

<h1 class="text-center">Image Rating Portal</h1>

<hr/>


<p class="text-sm-center">Please provide an email for identification</p>

<form method="post" @onsubmit=SubmitEmail>
    <div class="form-group">
        <label for="emailtxtbox">Email Address *</label>
        <input type="email" required class="form-control" id="emailtxtbox" aria-describedby="emailHelp" placeholder="Enter email" @bind-value=Email>
        <small id="emailHelp" class="form-text text-muted">Your email WILL NOT be shared with anyone else</small>
    </div>
    <button type="submit" class="btn btn-primary" style="width:100%">Start Rating</button>
</form>

@code {

    public string? Email { get; set; }

    public async Task SubmitEmail()
    {
        // Send Email to API
        AppUser res = await userServices.CreateUserIfNew(new AppUser()
            {
                Email = Email
            });

        // Set Response as new App User
        await localStorage.SetAsync("userid", res.ID.ToString());

        // Navigate
        navManager.NavigateTo("/ratings");
    }

}
